*{
	font-family: Verdana;
	
	
}

body{
	background-color: black;
}

h1{
	color: white;
	font-weight: normal;
	font-size: 50px;
	text-align: center;
}

p{
	color: Aquamarine;
	font-size: 16px;
	text-align: center;
	text-decoration: underline;
}

h2{
	color: white;
	font-size: 42px;
	font-weight: 300;
	text-align: center;
}

h3{
	color: grey;
	font-size: 21px;
	font-weight: normal;
}